configuration {
    modi: "drun,run";
    show-icons: false;
    hide-scrollbar: true;
    display-combi: ">";
    display-drun: ">";
    display-run: ">";
}

@theme {
    listview {
        lines: 0;  // Cache la liste des résultats
    }
    window {
        transparency: "real";
    }
}